<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Header -->
  <header>
    <img src="./amigalogo.png" alt="Amiga Logo" class="logo">
    <h1>Welcome to the Amiga demo coding for beginners</h1>
  </header>
    <h2>
        <p class="hlink">
            https://www.winuae.net/
        </p>
    </h2>
    <img src="./WinUae.PNG" alt="" class="img">
    <img src="./WinUaeDrives.PNG" alt="" class="img">
    <img src="./WinUaeDrivesPopulate.PNG" alt="" class="img">
    <img src="./WinUaeDrivesAsmone.PNG" alt="" class="img">
    <img src="./IFFMaster.PNG" alt="" class="img">
    <img src="./DirOpus.PNG" alt="" class="img">
    <img src="/DeluxePaint.PNG" alt="" class="img">
</body>
</html>

