<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Example Container</title>
	  <link rel="stylesheet" href="./styles/containerCode.css">
</head>
<body>
  <h1>Example: M68000 Assembly Snippet</h1>
  <div class="example-container">
    <div class="example-header">
      <span>assembly.asm</span>
      <button class="copy-btn" onclick="copyCode()">Copy</button>
    </div>
    <div class="textout">
        To enable the VBL interrupt, we have to use the memory vector $6C, 
		which contains the address of the VBLANK interrupt routine that 
		runs during each vertical blanking period.

		So here is a shell that takes care of everything and is nicely structured. It does the same as the previous examples but is better organized.
    </div>
    <div class="textout">
     <p>
So here is a shell that takes care of everything and is nicely structured.
It does the same as the previous examples, but looks better.    </p>
     <p>
         <pre>

*************************************
* Here are all the hardware equates *
*************************************
	incdir ""
	include df1:INCLUDES/HardwareEquates.s

**********************************
* Exec base and structure offset *
**********************************
ExecBase	equ	$0004

***************************
* These are the cia-names *
***************************
CIAASDR		equ	$bfec01
CIAAICR		equ	$bfed01
CIAACRA		equ	$bfee01

**********************
* Control characters *
**********************
lf		equ	$09

**************************
* Screen display equates *
**************************
ScreenHeight	equ	256
ScreenWidth 	equ	320/8
ScreenDepth	    equ	1
ScreenMemory	equ	ScreenHeight*ScreenWidth*ScreenDepth

	movea.l	ExecBase,a5		Get execbase for sys copper get
	lea.l	Custom,a6		And hardware base also
	bsr 	SetBplPointers
	bsr	    KillInterrupts		Geuss what
	bsr	    SetDMA			And geuss again
	bsr	    SetCIA			;Set the CIA chips
	bsr	    InitScreen		;Set mine screen
lmb
 	btst	#6,$bfe001		;Test left mouse button
	bne	lmb			        ;Looped until pressed
	bsr	RestoreScreen		;Set system screen
	bsr	ResCIA			    ;Restore the CIA chips
	bsr	RestoreDMA		    ;Restore system dma
	bsr	RestoreInterrupts	Restore system interupts
	moveq.l	#0,d0			Signal dos : no error

***************************************
* This is my vertical blank interrupt *
* Also does double Buffering          *    
***************************************
MyVBLI	movem.l	d0-d7/a0-a6,-(sp)	Save regs


    * Double buffering set bitplane in copper
	lea.l	BplPointers,a0      ; 	Get bitplane pointers in copper
	move.w	#ScreenDepth-1,d1
	move.l	DScr(pc),d0	        ;Get screen adress
NextPlane
	move.w	d0,6(a0)	        ;And set low address word
	swap.w	d0		            ;Low = High : High = Low
	move.w	d0,2(a0)	        ;And set high adress word
	swap	d0
	add.w	#ScreenWidth*ScreenHeight,d0 ; Sequential bitmaps
	addq.w	#8,a0
	dbra	d1,NextPlane

	lea.l	Custom,a6       ; This is the base address for hardware regs $dff000
                            ; so each hardware register use this addredd as base
                            ; and the offset is used from that. More reusable
	move.b	KeyDown(pc),d0

    * switches screen pointers        

	lea.l	WScr(pc),a0
	lea.l	DScr(pc),a1
	move.l	(a0),d0
	move.l	(a1),d1
	move.l	d1,(a0)
	move.l	d0,(a1)

    movem.l	(sp)+,d0-d7/a0-a6
	move.w	#$0020,intreq+custom	Clear vbli request
	rte

****************************
* Clear the whole screen
****************************
ClearScreen;
WBlit	btst	#14,dmaconr(a6)	;	Blitter done
	bne.s	WBlit       		;	If not wait
	move.l  #-1,bltafwm(a6)
	move.l  WScr(pc),d0
	move.l	d0,bltdpth(a6)
	move.w	#0,bltdmod(a6)	Modulo for screen clear
	move.l  #$01000000,bltcon0(a6)  ; Use only D channel for clear
	move.w  #ScreenHeight*64+ScreenWidth/2*ScreenDepth,bltsize(a6)
    rts

**************************
* This is the keyboard   *
* (and serial) interrupt *
**************************
KeyBInt	movem.l	d0/a0/a6,-(sp)
	lea.l	Custom,a6		Get hardware custom base
	move.w	#$0660,color00(a6)
	move.b	CIAAICR,d0		d0 = interrupt control register
	btst	#3,d0			A serial port interrrupt ?
	beq.s	KeyBIntexit		If not, exit
	moveq.l	#0,d0			Clear d0
	move.b	CIAASDR,d0		Get serial data
	ori.b	#%01000000,CIAACRA	Serial port is now output
	move.b	#%11111111,CIAASDR	Send handshake
	andi.b	#%10111111,CIAACRA	Serial port is now input
	ror.b	#1,d0			Scroll up/down flag back
	not.b	d0			Complemet key-code
	btst	#7,d0			Is it an up-code
	beq.s	KeyC1			Clear keydown flag and exit
	clr.w	KeyDown
	bra.s	KeyBIntExit
KeyC1	cmp.b	#$40,d0
	bgt.s	KeyBIntexit
	lea.l	KBDTable,a0
	move.b	(a0,d0.w),d0
	move.b	d0,KeyDown
KeyBIntExit
	move.w	#$0000,color00(a6)
	move.w	#$0008,Intreq(a6)
	movem.l	(a7)+,d0/a0/a6
	rte

KBDTable
	dc.b	" 1234567890-=\ 0sadrtyuiop[] "
	dc.b	"XZCwqefghjkl;'  WQE xzcvbnm,./ "
	dc.b	".SAD"          -"
	even

******************************************************
* These subroutines take over the system copper list *
* and set mine copperlist and then restore it again. *
******************************************************
InitScreen
	move.l	156(a5),a1		Get gfx-library base
	move.l	38(a1),SysCopper	Get system copper list
	move.l	#CopperList,cop1lch(a6)	And set mine copper instead
	rts

RestoreScreen
	move.l	SysCopper,cop1lch(a6)	Restore system copperlist
	rts

SysCopper
	dc.l	0
*****************************************************
* These little subroutines take over the interrupts *
* and then restore them again to the system. Yeahh. *
*****************************************************
KillInterrupts
	move.w	intenar(a6),SysIntenar		Get system inenta
	move.w	intreqr(a6),SysIntreqr		Get system intreq
	move.w	#$7fff,intreq(a6)		Clear system enable
	move.w	#$7fff,intena(a6)		Clear system request
	move.l	$6c,OldVBLI			Save system vbli
	move.l	#MyVBLI,$6c			And set mine instead
	move.w	#$8000+$4000+$20,intena(a6)	Allow vbli
	rts

RestoreInterrupts
	move.l	OldVBLI(pc),$6c			Restore the system vbli
	or.w	#$8000,SysIntenar		Set intena set bit
	or.w	#$8000,SysIntreqr		Set intreq set bit
	move.w	SysIntreqr(pc),intreq(a6)	Restore it
	move.w	SysIntenar(pc),intena(a6)	Restore it
	rts

OldVBLI
	dc.l	0
SysIntenar
	dc.w	0
SysIntreqr
	dc.w	0

***********************************************************
* This kills the system DMA and then sets my dma and when *
* all that it is done it is capable of restoring it again *
***********************************************************
SetDMA	move.w	DMAconr(a6),d0		Fetch system dma status
	move.w	d0,SystemDMA		Save system dma
	move.w	#$7fff,DMAcon(a6)	Clear all dma
	move.w	#$83e0,DMAcon(a6)	Set COPEN+BPLEN+DMAEN+BLTEN
	rts

RestoreDMA
	move.w	#$7fff,DMAcon(a6)	Clear all dma
	move.w	SystemDMA(pc),d0	Get old system dma
	or.w	#$8000,d0		And set
	move.w	d0,DMAcon(a6)		And now start it
	rts

SystemDMA
	dc.w	0

**********************************************
* These routines take over the cia-ports and *
* set up a keyboard handler.  Also restore.  *
**********************************************
SetCIA	move.l	$68,SysLevel2		Save system level 2 interrupt
	move.l	#KeyBInt,$68		Set my keyboard interrupt
	move.w	#$8008,Intena(a6)	Allow keyboard interrupt
	move.b	#%01111111,CIAAICR	Stop all timer interrupts
	move.b	#%10001000,CIAAICR	Start sp-interrupt
	move.b	#%00000000,CIAASDR	Clear serial data register
	move.b	#%10000000,CIAACRA	Set control register A
	rts

ResCIA	move.l	SysLevel2,$68		Restore system level 2 interrupt
	move.b	#%01111111,CIAAICR	Stop all timer interrupts
	move.b	#%10001111,CIAAICR	Start sp/alrm/tb/ta-interrupt
	move.b	#%00000000,CIAASDR	Clear serial data register
	move.b	#%10000000,CIAACRA	Set control register A
	rts

SysLevel2
	dc.l	0


*******************************
* And the copperlist          *
*******************************
	Section	Copper,DATA_C
CopperList
	dc.w	$1001,$fffe
	dc.w	bplcon0,ScreenDepth*$1000+$200
	dc.w	bplcon1,0
	dc.w	bplcon2,0
	dc.w	bpl1mod,0
	dc.w	bpl2mod,0
	dc.w	diwstrt,$2981
	dc.w	diwstop,$2ac1
	dc.w	ddfstrt,$0030
	dc.w	ddfstop,$00d8
ColRegs; 
	dc.w	color01,$0fff
BPLPointers
	dc.w	bpl1pth,0	
	dc.w	bpl1ptl,0
	dc.w	bpl2pth,0	
	dc.w	bpl2ptl,0
	dc.w	bpl3pth,0	
	dc.w	bpl3ptl,0
	dc.w	bpl4pth,0	
	dc.w	bpl4ptl,0
	dc.w	bpl5pth,0	
	dc.w	bpl5ptl,0

	dc.l	$fffffffe

; pointers for screen mem

WScr	dc.l	Screen0
DScr	dc.l	Screen1

*******************************************
* Sin and Cos tablesthat we use later     *
* also bianry for 3d stars max 1000 stars *
*******************************************
sin:    incbin df1:SinCosTables/Sin.r
cos:    incbin df1:SinCosTables/cos.r
StarsRnd:
        incbin df1:SinCosTables/starsrnd.r

******************************
* And then the screen memory *
******************************
	Section	Screen,BSS_C

Screen0	ds.b	ScreenMemory
Screen1	ds.b	ScreenMemory

         </pre>   

    </p>
    </div>
  </div>
  <script>
    function copyCode() {
      const code = document.getElementById("code-block").innerText;
      navigator.clipboard.writeText(code).then(() => {
        alert("Code copied to clipboard!");
      });
    }
  </script>
</body>
</html>
