<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Example Container</title>
  <link rel="stylesheet" href="./styles/containerCode.css">  </style>
</head>
<body>
  <h1>Example Vectorballs and Sorting</h1>
  <div class="example-container">
    <div class="example-header">
      <span>assembly.asm</span>
      <button class="copy-btn" onclick="copyCode()">Copy</button>
    </div>
    <div class="textout">
      <p>
         In this example, we will create a simple demo of vector balls (bobs) bouncing around the screen.
      </p>
          What are Vectorballs?
          You define a set of 3D points (for example, forming a shape like a cube, logo, or sphere). 
          Each point is rendered as a filled circle (ball) on screen.
          Instead of drawing lines (like wireframe), you draw solid discs,
          giving a more organic and smooth look.
    </p>
    <p>
        3D coordinates
        Each ball has (x, y, z)
        Transformations
        Rotate / move points in 3D
        Projection
        Convert to 2D:
        screenX = x / z
        screenY = y / z
        Size & shading
        Ball size depends on Z (closer = bigger)
        Color/brightness also often depends on Z
    </p>

<p>
    Here is a sorting roytine for the vector balls. We sort them by their Z value (depth) so
     that we can draw them in the correct order (back to front) for proper occlusion.
</p>

<pre>
    

********* 
SortBalls
*********
; *NB  Sort routine coded by Treebeard of ALLIANCE!!!
	lea	Wspace,a0
	move.l	#32,d7
	subq.l	#1,d7		; On 1st sort, look at (no. of points-1) after 1st,
				; -1 for dbra
Sort1
	move.l	d7,d6		; Keep d7 the same, use d6 instead
	move.l	a0,a1		; Ditto a0 and a1
	addq.l	#8,a1		; Start searching in entry after current one
	sub.l	a2,a2		; No smaller value found so far
	move.w	4(a0),d0	; d0=value to compare each entry with
.loop	cmp.w	4(a1),d0	; Is this entryd0 
	ble	.ok		; Nope
	move.w	4(a1),d0	; d0=this entry
	move.l	a1,a2		; a2=address of this entry
.ok	addq.l	#8,a1		; Search others for smaller entry
	dbra	d6,.loop
	cmp.l	#0,a2		; Was a smaller value found?
	beq	.ok1		; Nope
	move.l	(a0),d0		; Swap first four bytes
	move.l	(a2),(a0)
	move.l	d0,(a2)+
	move.l	4(a0),d0	; Swap secound four bytes
	move.l	(a2),4(a0)
	move.l	d0,(a2)+
.ok1:
	addq.w	#8,a0		; a0=address of next entry to sort
	dbra	d7,Sort1	; sort other entries
	rts
WS:
	lea.l	WSpace,a0

	move.w	#200,(a0)+	Store x
	move.w	#10,(a0)+	Store y
	rts

</pre>


<p>
    Here is a full source for vectorbobs, including the sorting routine and the main loop. It demonstrates 
    how to set up the system, handle vertical blank interrupts, and render the vector balls on screen.
</p>

    <pre>

*************************************
* Here are all the hardware equates *
*************************************
	incdir df1:
	include INCLUDES/HardwareEquates.s

********lesk**************************
* Exec base and structure offset *
**********************************
ExecBase	equ	$0004

***************************
* These are the cia-names *
***************************
CIAASDR		equ	$bfec01
CIAAICR		equ	$bfed01
CIAACRA		equ	$bfee01


*****************************
* Blitter line draw equates *
*****************************
LineMode	equ	$1
Sing		equ	$2
SignFlag	equ	$40
Octant8		equ	6
Octant7		equ	1
Octant6		equ	3
Octant5		equ	7
Octant4		equ	5
Octant3		equ	2
Octant2		equ	0
Octant1		equ	4

**********************
* Control characters *
**********************
lf		equ	$09		Line feed
EC		equ	-2		EndCode

******************
* Object equates *
******************
RotAngP		equ	0
PointsP		equ	4
PlanesP		equ	8
LinesP		equ	12
ColorP		equ	16

******************************
* The calculations workspace *
******************************
WorkSpace	equ	1024*2
PointFixSpace	equ	256	256 points maxium in polygon

**************************
* Screen display equates *
**************************
ScreenHeight	equ	257
ScreenWidth	equ	320/8
ScreenDepth	equ	4	
ScreenMemory	equ	ScreenHeight*ScreenWidth*ScreenDepth
*numpoints equ 7
NUMBOBS		EQU		12+8+8		number of bobs to display

*******************************************
* Here is where the actual program begins *
*******************************************

	movea.l	ExecBase,a5		Get execbase for sys copper get
	lea.l	Custom,a6		And hardware base also
	jsr 	SetBplPointers
	jsr	KillInterrupts		Geuss what
	bsr	SetDMA			And geuss again
	bsr	SetCIA			Set the CIA chips
	bsr	InitScreen		Set mine screen
lmb 	btst	#6,$bfe001		Test left mouse button
	bne	lmb	
	bsr	RestoreScreen		Set system screen
	bsr	ResCIA			Restore the CIA chips
	bsr	RestoreDMA		Restore system dma
	bsr	RestoreInterrupts	Restore system interupts
	moveq.l	#0,d0			Signal dos : no error
	rts				Quit program

***************************************
* This is my vertical blank interrupt *
***************************************
MyVBLI	movem.l	d0-d7/a0-a6,-(sp)	Save regs

	lea.l	Custom,a6
	lea.l	BplPointers,a0	Get bitplane pointers in copper
	move.w	#ScreenDepth-1,d1
	move.l	DScr(pc),d0	Get screen adress
NextPlane
	move.w	d0,6(a0)	And set low address word
	swap.w	d0		Low = High : High = Low
	move.w	d0,2(a0)	And set high adress word
	swap	d0
	add.l	#ScreenWidth,d0
	addq.w	#8,a0
	dbra	d1,NextPlane


	move.w	#ScreenDepth-1,d1

	move.l  WScr(pc),d0

	add.l	#screenwidth*4,d0

WBlit2	btst	#14,dmaconr(a6)		Blitter done
	bne.s	WBlit2			If not wait
	move.l  #-1,bltafwm(a6)
	move.l	d0,bltdpth(a6)
	
	move.w	#0,bltdmod(a6)	Modulo for screen clear
	move.l  #$01000000,bltcon0(a6)
	move.w  #(255*4*64)+20,bltsize(a6)
	
WBlit2a	btst	#14,dmaconr(a6)		Blitter done
	bne.s	WBlit2a			If not wait
	jsr sortballs	
	bsr 	r3d	
	jsr	BlitBalls
	move.b	KeyDown(pc),d0
	lea.l	WScr(pc),a0
	lea.l	DScr(pc),a1
	move.l	(a0),d0
	move.l	(a1),d1
	move.l	d1,(a0)
	move.l	d0,(a1)

out
	move.w	#$0000,color00(a6)

	movem.l	(sp)+,d0-d7/a0-a6
	move.w	#$0020,intreq+custom	Clear vbli request
	rte

****************
* Wait Blitter *
****************
WBlit	btst	#14,dmaconr(a6)		Blitter done
	bne.s	WBlit			If not wait
	rts

* a0 = Working Space
* a1 = object
* a2 = sinus
* a3 = cosinus
* a4 = xgrad+sin
* a5 = xgrad+cos
* d3 = y
* d4 = z
* d5 = xgrad
* d6 = ygrad
* d7 = zgrad
r3d
	lea.l	WSpace,a0
	lea.l	Object,a1
	move.l	RotAngP(a1),a1
	lea.l	Sin,a2
	lea.l	Cos,a3
	move.l	a2,a4
	move.l	a3,a5

	addq.w	#5,(a1)
	addq.w	#3,2(a1)
	addq.w	#3,4(a1)
	andi.w	#$1ff,(a1)
	andi.w	#$1ff,2(a1)
	andi.w	#$1ff,4(a1)

	move.w	(a1)+,d5	Get xgrad
	move.w	(a1)+,d6	Get ygrad
	move.w	(a1)+,d7	Get zgrad
	add.w	d5,d5		Extent from byte offset to word
	add.w	d6,d6		Same
	add.w	d7,d7		Same
	ext.l	d5
	add.l	d5,a4
	add.l	d5,a5

	lea.l	Object,a1
	move.l	PointsP(a1),a1
Loop
*		Rotate around x-axis
	move.w	(a5),d0
	move.w	(a4),d1
	muls.w	2(a1),d0
	muls.w	4(a1),d1
	sub.l	d1,d0
	asl.l	#2,d0
	swap	d0
	move.w	d0,d3
	move.w	(a4),d0
	move.w	(a5),d1
	muls.w	2(a1),d0
	muls.w	4(a1),d1
	add.l	d1,d0
	asl.l	#2,d0
	move.l	d0,d4
	swap	d4
*		Rotate around y-axis
	move.w	(a3,d6),d0
	move.w	(a2,d6),d1
	muls.w	(a1),d0
	muls.w	d4,d1
	sub.l	d1,d0
	asl.l	#2,d0
	move.l	d0,x2
	move.w	(a1),d0
	muls.w	(a2,d6),d0
	move.w	(a3,d6),d1
	muls	d4,d1
	add.l	d1,d0
	asl.l	#2,d0
	swap	d0
	move.w	d0,d4
*		Rotate around z-axis
	move.w	(a3,d7),d0
	move.w	(a2,d7),d1
	muls	x2,d0
	muls	d3,d1
	sub.l	d1,d0
	asl.l	#2,d0
	swap	d0
	move.w	(a2,d7),d1
	move.w	(a3,d7),d2
	muls	x2,d1
	muls	d3,d2
	add.l	d2,d1
	asl.l	#2,d1
	swap	d1
	move.w	d4,d2

	move.w	d0,(a0)+	Store x
	move.w	d1,(a0)+	Store y
	move.w	d2,(a0)+	Store z
	move.w	6(a1),(a0)+
	blt.s	ExitRot
	addq.l	#8,a1
	bra	Loop
ExitRot	
	

* a0 = WSpace read
* a1 = WSpace write
* d0 - d2 = x-,y-,z-Work
* d3 - d4 = x-,y-origo (screenadd)
* d5 - d7 = x-,y-,z-viewpoint

	lea.l	WSpace,a0		Get workspace for read
	movea.l	a0,a1			Get workspave for writing
	move.w	#ScreenWidth*8/2,d3	The middle screen x
	move.w	#ScreenHeight/2,d4	The middle screen y
	move.w	XViewP(pc),d5		X-viewpoint
	move.w	YViewP(pc),d6		Y-viewpoint
	move.w	ZViewP(pc),d7		Z-viewpoint
	lea.l	Gy(pc),a2
	lea.l	Sy(pc),a3
	move.w	#-1,(a2)
	move.w	#ScreenDepth+1,(a3)
Do3D2	move.w	(a0)+,d0		Get x
	move.w	(a0)+,d1		Get y
	move.w	(a0)+,d2		Get z
	add.w	d5,d0			Add x-viewpoint to x-value
	add.w	d6,d1			Add y-viewpoint to x-value
	add.w	d7,d2			Add z-viewpoint to x-value
	beq.s	Do3D2Ch			If zero, no point on screen
	ext.l	d0			Extend to longword
	ext.l	d1			------------------
	asl.l	#8,d0			Multiply with 256
	asl.l	#8,d1			Multiply with 256
	divs	d2,d0			x/z
	divs	d2,d1			y/z
	add.w	d3,d0			Add middle of screen to it
	add.w	d4,d1			Same here
	cmp.w	(a2),d1
	blt.s	CheSy
	move.w	d1,(a2)
CheSy	cmp.w	(a3),d1
	bgt.s	DoneCh
	move.w	d1,(a3)
DoneCh
;	cmp.w	#ScreenWidth*8-1,d0
;	blt.s	NRy
;	move.w	#ScreenWidth*8-1,d0
;	bra.s	FyTx
;NRy	tst.w	d0
;	bge	FyTx
;	moveq.l	#0,d0
;FyTx	cmp.w	#ScreenHeight-1,d1
;	blt.s	NRx
;	move.w	#ScreenHeight-1,d1
;	bra.s	Fxy
;NRx	tst.w	d1
;	bge	Fxy
;	moveq.l	#0,d1
;Fxy
	move.w	d0,(a1)+		Write x
	move.w	d1,(a1)+		Write y
	tst.w	(a0)+			If less than zero end
	blt.s	Exit3d2			Exit if less than
	bra.s	Do3D2			And do until end
Do3D2Ch	moveq.l	#0,d0
	move.l	d0,(a1)+		And move zero,zero as x,y
	tst.w	(a0)+			End of object
	blt.s	Exit3d2			Exit if yes
	bra.s	Do3D2			Else continue 3d to 2d
Exit3d2

	rts	


XViewP	dc.w	0
YViewP	dc.w	0
ZViewP	dc.w	400
XViewG	dc.w	0
YViewG	dc.w	0
ZViewG	dc.w	0

x1	dc.l	0
x2	dc.l	0


Lxy	dc.w	0,0
FDy	dc.w	0
Gy	dc.w	0
Sy	dc.w	0


SinAdd0	dc.w	0*2
SinAdd1	dc.w	0*2
SinAddV	dc.w	0*2
SinPos0	dc.w	$0000
SinPos1	dc.w	$0000

TextPos	dc.l	$00000000
TextSpd	dc.w	$0002
TextFix	dc.w	$0000
	even

KeyDown	dc.w	$0000

WScr	dc.l	Screen0
DScr	dc.l	Screen1
cnt dc.w 0
txtpos dc.w 0
cntbit	dc.w 0
DummySprite
	dc.w	$0000,$0000	Spr0pos+spr0ctl


		
****************************
* Sinus and cosinus tables *
******************;**********
Sin	incbin	SINCOSTABLES/Sin.r
Cos	incbin	SINCOSTABLES/Cos.r


****************************************************
* And this sets the bitplanepointers in copperlist *
****************************************************
SetBplPointers
	lea.l	BplPointers,a0	Get bitplane pointers in copper
	lea.l	Screen0,a1	Get screen adress
	move.l	a1,d0		And move to data register so i can swap
	move.w	#ScreenDepth-1,d1	Get screen depth (-1 for dbra)
ScLoop	move.w	d0,6(a0)	And set low address word
	swap.w	d0		Low = High : High = Low
	move.w	d0,2(a0)	And set high adress word
	swap.w	d0		High = Low : Low = High
	add.w	#ScreenWidth*256,d0	Add screenwidth to screen for layed bitmaps
	adda.w	#8,a0		Add to next bitplane in copper
	dbra	d1,ScLoop	Do until all bitplanes are finished
	rts			Return from subroutine

**************************
* This is the keyboard   *
* (and serial) interrupt *
**************************
KeyBInt	movem.l	d0/a0/a6,-(sp)
	lea.l	Custom,a6		Get hardware custom base
	move.w	#$0660,color00(a6)
	move.b	CIAAICR,d0		d0 = interrupt control register
	btst	#3,d0			A serial port interrrupt ?
	beq.s	KeyBIntexit		If not, exit
	moveq.l	#0,d0			Clear d0
	move.b	CIAASDR,d0		Get serial data
	ori.b	#%01000000,CIAACRA	Serial port is now output
	move.b	#%11111111,CIAASDR	Send handshake
	andi.b	#%10111111,CIAACRA	Serial port is now input
	ror.b	#1,d0			Scroll up/down flag back
	not.b	d0			Complemet key-code
	btst	#7,d0			Is it an up-code
	beq.s	KeyC1			Clear keydown flag and exit
	clr.w	KeyDown
	bra.s	KeyBIntExit
KeyC1	cmp.b	#$40,d0
	bgt.s	KeyBIntexit
	lea.l	KBDTable,a0
	move.b	(a0,d0.w),d0
	move.b	d0,KeyDown
KeyBIntExit
	move.w	#$0000,color00(a6)
	move.w	#$0008,Intreq(a6)
	movem.l	(a7)+,d0/a0/a6
	rte

KBDTable
	dc.b	" 1234567890-=\ 0sadrtyuiop[] "
	dc.b	"XZCwqefghjkl;'  WQE xzcvbnm,./ "
	dc.b	".SAD"          -"
	even


******************************************************
* These subroutines take over the system copper list *
* and set mine copperlist and then restore it again. *
******************************************************
InitScreen
	move.l	156(a5),a1		Get gfx-library base
	move.l	38(a1),SysCopper	Get system copper list
	move.l	#CopperList,cop1lch(a6)	And set mine copper instead
	rts

RestoreScreen
	move.l	SysCopper,cop1lch(a6)	Restore system copperlist
	rts

SysCopper
	dc.l	0

*****************************************************
* These little subroutines take over the interrupts *
* and then restore them again to the system. Yeahh. *
*****************************************************
KillInterrupts
	move.w	intenar(a6),SysIntenar		Get system inenta
	move.w	intreqr(a6),SysIntreqr		Get system intreq
	move.w	#$7fff,intreq(a6)		Clear system enable
	move.w	#$7fff,intena(a6)		Clear system request
	move.l	$6c,OldVBLI			Save system vbli
	move.l	#MyVBLI,$6c			And set mine instead
	move.w	#$8000+$4000+$20,intena(a6)	Allow vbli
	rts

RestoreInterrupts
	move.l	OldVBLI(pc),$6c			Restore the system vbli
	or.w	#$8000,SysIntenar		Set intena set bit
	or.w	#$8000,SysIntreqr		Set intreq set bit
	move.w	SysIntreqr(pc),intreq(a6)	Restore it
	move.w	SysIntenar(pc),intena(a6)	Restore it
	rts

OldVBLI
	dc.l	0
SysIntenar
	dc.w	0
SysIntreqr
	dc.w	0

***********************************************************
* This kills the system DMA and then sets my dma and when *
* all that it is done it is capable of restoring it again *
***********************************************************
SetDMA	move.w	DMAconr(a6),d0		Fetch system dma status
	move.w	d0,SystemDMA		Save system dma
	move.w	#$7fff,DMAcon(a6)	Clear all dma
	move.w	#$83e0,DMAcon(a6)	Set COPEN+BPLEN+DMAEN+BLTEN
	rts

RestoreDMA
	move.w	#$7fff,DMAcon(a6)	Clear all dma
	move.w	SystemDMA(pc),d0	Get old system dma
	or.w	#$8000,d0		And set
	move.w	d0,DMAcon(a6)		And now start it
	rts

SystemDMA
	dc.w	0


**********************************************
* These routines take over the cia-ports and *
* set up a keyboard handler.  Also restore.  *
**********************************************
SetCIA	move.l	$68,SysLevel2		Save system level 2 interrupt
	move.l	#KeyBInt,$68		Set my keyboard interrupt
	move.w	#$8008,Intena(a6)	Allow keyboard interrupt
	move.b	#%01111111,CIAAICR	Stop all timer interrupts
	move.b	#%10001000,CIAAICR	Start sp-interrupt
	move.b	#%00000000,CIAASDR	Clear serial data register
	move.b	#%10000000,CIAACRA	Set control register A
	rts

ResCIA	move.l	SysLevel2,$68		Restore system level 2 interrupt
	move.b	#%01111111,CIAAICR	Stop all timer interrupts
	move.b	#%10001111,CIAAICR	Start sp/alrm/tb/ta-interrupt
	move.b	#%00000000,CIAASDR	Clear serial data register
	move.b	#%10000000,CIAACRA	Set control register A
	rts

SysLevel2
	dc.l	0
**************************
* These are objects data *
**************************
	Section	Objects,DATA

Object	dc.l	RotAngl
	dc.l	Points2
	dc.l	Planes
	dc.l	Lines
	dc.l	Color

RotAngl	dc.w	256,0,0


*******************************
* And the megalong copperlist *
*******************************
	Section	Copper,DATA_C
CopperList
	dc.w	$2001,$fffe
	dc.w	bplcon0,ScreenDepth*$1000+$200
	dc.w	bplcon1,0
	dc.w	bplcon2,0
	dc.w	bpl1mod,120
	dc.w	bpl2mod,120
	dc.w	diwstrt,$2981
	dc.w	diwstop,$2ac1
	dc.w	ddfstrt,$0038
	dc.w	ddfstop,$00d0
BPLPointers
	dc.w	bpl1pth,0	
	dc.w	bpl1ptl,0
	dc.w	bpl2pth,0	
	dc.w	bpl2ptl,0
	dc.w	bpl3pth,0	
	dc.w	bpl3ptl,0
	dc.w	bpl4pth,0	
	dc.w	bpl4ptl,0
	dc.w	bpl5pth,0	
	dc.w	bpl5ptl,0
	;POINTEURS DES SPRITES - MIS A 0 SI PAS DE SPRITES

	DC.W	$0120,$0000,$0122,$0000
	DC.W	$0124,$0000,$0126,$0000
	DC.W	$0128,$0000,$012A,$0000	;PAS DE SPRITES
	DC.W	$012C,$0000,$012E,$0000
	DC.W	$0130,$0000,$0132,$0000
	DC.W	$0134,$0000,$0136,$0000
	DC.W	$0138,$0000,$013A,$0000
	DC.W	$013C,$0000,$013E,$0000
cols
col13:	dc.w	color00,$0000
	dc.w	color01,$022F
	dc.w	color02,$034F
	dc.w	color03,$046F
	dc.w	color04,$058F
	dc.w	color05,$06AF
	dc.w	color06,$07BF
	dc.w	color07,$0CCC
	dc.w	color08,$03AF
	dc.w	color09,$04BF
	dc.w	color10,$06AF
	dc.w	color11,$03CF
	dc.w	color12,$09CF
	dc.w	color13,$0BDF
	dc.w	color14,$0DEE
	dc.w	color15,$0FFF
	;Generated by IFFMaster v1.0 by JUNIX / ARCANE!
	dc.l	$fffffffe

*********************************************
	section code,code_c

*	incdir ""
*Sin2	Incbin	work:assembler/Sin.r
*StarRnd	incbin work:assembler/StarsRnd.r



******************************
* And then the screen memory *
******************************
	Section	Screen,BSS_C

Screen0	ds.b   screenmemory
Screen1	ds.b   screenmemory

	SECTION DATA,DATA_C

WSpace	ds.b	WorkSpace


****************************************************
* Here are the points stored that need to be fixed *
****************************************************
PFix	ds.w	PointFixSpace


BlitterBusy
	btst	#14,dmaconr(a6)		; whats the blitter upto?
	bne	BlitterBusy		; Slaving away
	rts				; Fuck-all
********* 
SortBalls
*********
; *NB  Sort routine coded by Treebeard of ALLIANCE!!!
	lea	Wspace,a0
	move.l	#32,d7
	subq.l	#1,d7		; On 1st sort, look at (no. of points-1) after 1st,
				; -1 for dbra
Sort1
	move.l	d7,d6		; Keep d7 the same, use d6 instead
	move.l	a0,a1		; Ditto a0 and a1
	addq.l	#8,a1		; Start searching in entry after current one
	sub.l	a2,a2		; No smaller value found so far
	move.w	4(a0),d0	; d0=value to compare each entry with
.loop	cmp.w	4(a1),d0	; Is this entryd0 
	ble	.ok		; Nope
	move.w	4(a1),d0	; d0=this entry
	move.l	a1,a2		; a2=address of this entry
.ok	addq.l	#8,a1		; Search others for smaller entry
	dbra	d6,.loop
	cmp.l	#0,a2		; Was a smaller value found?
	beq	.ok1		; Nope
	move.l	(a0),d0		; Swap first four bytes
	move.l	(a2),(a0)
	move.l	d0,(a2)+
	move.l	4(a0),d0	; Swap secound four bytes
	move.l	(a2),4(a0)
	move.l	d0,(a2)+
.ok1:
	addq.w	#8,a0		; a0=address of next entry to sort
	dbra	d7,Sort1	; sort other entries
	rts
WS:
	lea.l	WSpace,a0

	move.w	#200,(a0)+	Store x
	move.w	#10,(a0)+	Store y
	rts


BlitBalls	
	lea	custom,a6
	lea	wspace,a0		; A0=Address of new points
	lea	ballart,a1
	move.w	#0,d0			; D0=Number of balls to blit
BlitLoop
	moveq.l	#0,d1			; Clear D1
	move.w	(a0),d1			; D1=X pos
*	move.w	#100,d1			; D1=X pos
	ext.l	d1			; Make D1 long
*	add.l	#160,d1			; Add middle of screen
	divu	#16,d1			; Convert
	moveq.l	#0,d3			; Clear D3
	move.w	2(a0),d3		; D3=Y pos
*	move.w	#100,d3		; D3=Y pos
	ext.l	d3			; Make D3 long
*	add.l	#80,d3			; Add Y centre
	mulu	#40*4,d3		; Convert Y
	moveq.l	#0,d4			; Clear D4
	move.w	d1,d4			; D4=X offset
	add.l	d4,d4			; Turn X offset into bytes
	add.l	d4,d3	
	move.l	wscr,a4		; Add X to Y
	add.l	a4,d3		; Add start of screen to X Y
	swap	d1	
	lsl.w	#8,d1			; Put shift in 4 MSB
	lsl.w	#4,d1
	move.w	#$ffa,d2	; D2=Bltcon0 value
	or.w	d1,d2			; OR shift value
.Wait	btst	#14,dmaconr(a6)		; Wait for blitter
	bne	.Wait
	move.l	#Vectorbob,a2	; Source=Vector bob
	move.l	#VectorMask,a3	; Source=Vector bob mask
	move.w	d0,d6
*	addq	#1,d6
	add.w d6,d6
	clr.l	d5
	move.w	(a1,d6.w),d5
row3
	cmp.w	#40,d5
	blt	row2
	clr.l	d6
	sub.w	#40,d5
	add.w	d5,d5
	add.w	d5,d5
	move.w	#42*32*4,d6
	add.w	d5,d6
	MOVE.W	#34,blitmodscreen
	move.w	#36,blitmodvbob
	move.w	#(64*31*4)+3,blitsize
	bra	rowon
row2	

	cmp.w	#20,d5
	blt	row1

	clr.l	d6
	move.w	d5,d6
	sub.w	#20,d6
	add.w	#42*16*4,d6
	
	MOVE.W	#36,blitmodscreen
	move.w	#38,blitmodvbob
	move.w	#(64*16*4)+2,blitsize
	bra	rowon
row1
	mulu.w	#2,d5
	move.w	d5,d6
	MOVE.W	#36,blitmodscreen
	move.w	#38,blitmodvbob
	move.w	#(64*16*4)+2,blitsize

rowon	

	add.w	d6,a2
	add.w	d6,a3

	move.l	a2,bltapth(a6)	; Source=Vector bob
	move.l	a3,bltbpth(a6)	; Source=Vector bob mask
	
	move.l	d3,bltcpth(a6)		; Source=Screen
	move.l	d3,bltdpth(a6)	
*	rts	; Destination=Screen
	move.w	blitmodscreen,bltcmod(a6)		; 2-4
	move.w	blitmodscreen,bltdmod(a6)		; 4-4
	move.w	blitmodvbob,bltamod(a6)
	move.w	blitmodvbob-2,bltbmod(a6)
	move.w	#$ffff,bltafwm(a6)	; No FWM
	move.w	#$0000,bltalwm(a6)	; Full LWM
	move.w	d2,bltcon0(a6)
	move.w	d1,bltcon1(a6)
	move.w	blitsize,bltsize(a6) ; 16*32

	addq.w	#4,a0
	ADDq	#1,d0			; Point to next balls cords
	CMP.W	#31,d0
	bne	blitloop		; Blit all balls
	rts
blitmodvbob	dc.w	0
blitmodscreen	dc.w	0
blitsize	dc.w	0
add	dc.w	0
arttab	
	dc.w	10,16
*	dc.w	1,16
*	dc.w	1,16
*	dc.w	32*42*4,32


	section	gfxstuff,data_c
Vectorbob:
	incbin 'PICS/manbob2_320x64x4.raw'
Vectormask:
	incbin 'PICS/manbob1_320x64x4.mask'
*********************************************    
* here are the points for the vector balls. *
* They are stored as x,y,z,fixed point flag *
*********************************************
POINTS2:
*	dc.w 32
	dc.w 0,100,0,0
	dc.w -9,103,17,0
	dc.w 5,103,17,0
	dc.w 0,80,0,0
	dc.w 0,55,0,0
	dc.w 0,20,0,0
	dc.w 28,60,0,0
	dc.w 28,45,4,0
	dc.w 28,30,8,0
	dc.w 28,20,12,0
	dc.w 28,20,22,0
	dc.w 28,20,32,0
	dc.w -28,60,0,0
	dc.w -28,45,4,0
	dc.w -28,30,8,0
	dc.w -28,20,12,0
	dc.w -28,20,22,0
	dc.w -28,20,32,0
	dc.w 20,10,0,0
	dc.w 21,-5,4,0
	dc.w 22,-20,8,0
	dc.w 23,-35,10,0
	dc.w 24,-48,8,0
	dc.w 25,-60,6,0
	dc.w 26,-74,4,0
	dc.w -20,10,0,0
	dc.w -21,-5,4,0
	dc.w -22,-20,8,0
	dc.w -23,-35,10,0
	dc.w -24,-48,8,0
	dc.w -25,-60,6,0
	dc.w -26,-74,4,-1
BALLART2:
	dc.w 40,41,42,43,44,45,7,8,9,10
	dc.w 24,23,22,21,25,24,24,23
	dc.w 22,21,25,24,24,23,23,23
	dc.w 24,25,24,24,23,23,23,24
BALLART:
	dc.w 44,1,1,2,40,41,25,24
	dc.w 24,23,22,21,25,24,24,23
	dc.w 22,21,25,24,24,23,23,23
	dc.w 24,25,24,24,23,23,23,24
BALLART3:
	dc.w 44,1,1,2,40,41,25,24
	dc.w 4,3,2,1,5,4,4,3
	dc.w 2,1,5,4,4,3,3,3
	dc.w 4,5,4,4,3,3,3,4

    </pre>
</p>
</div>
</body>
</html>